$purple: #6C63FF;
$purple-light: #D7D4FF;
$white: #ffffff;
$white-200: #F9F9F9;
$gray: #555555;
$gray-dark: #2A2A2A;

.c1 {
    background-color: #FF6363;
}

.c2 {
    background-color: #63ECFF;
}

.c3 {
    background-color: #F363FF;
}

.c4 {
    background-color: #63FF73;
}

.c5 {
    background-color: #FFDD63;
}

.c6 {
    background-color: #6663FF;
}